.test{
    margin:10px;
        a{
         padding:10px 20px;
       }
    }
.icon_toclick {
    color: #0887ee;
}
/* .icon_clicked {
    color: #012c4e;
} */

.icon_clicked_vote {
    color: #db277b;
}

